# Functions in Python

In [1]:
num = 24

if num%2==0:
    print('The number is even')
else:
    print('The number is odd')

The number is even

In [2]:
def even_odd(num):
    if num%2==0:
        print('The number is even')
    else:
        print('The number is odd')

In [3]:
even_odd(24)

The number is even

In [4]:
def add_number(num1, num2):
    return num1 + num2

In [5]:
add_number(24,48)

72

In [6]:
val = add_number(24,48)

In [7]:
val

72

In [8]:
def hello(name, age = 24):
    print ("My name is {} and age is {}".format(name,age))

In [9]:
hello('Jay')

My name is Jay and age is 24

In [10]:
def hello(*args, **kwargs):
    print(args)
    print(kwargs)

In [11]:
hello("Jay", "Sisodiya", age = 24, dob = 1996)

('Jay', 'Sisodiya')
{'age': 24, 'dob': 1996}

In [12]:
lst = ['Jay', 'Sisodiya']
dict_args = {'age': 24, 'dob': 1996}

In [13]:
hello(*lst, **dict_args)

('Jay', 'Sisodiya')
{'age': 24, 'dob': 1996}

In [14]:
lst = [1,2,3,4,5,6,7]

In [15]:
def sum(lst):
    even_sum = 0
    odd_sum = 0
    for i in lst: 
        if i%2==0:
            even_sum = even_sum + i
        else: 
            odd_sum = odd_sum + i
    return even_sum, odd_sum

In [16]:
sum(lst)

(12, 16)

# Lambda Function

It is anonymous function which is a function with no name.

In [17]:
def addition(a,b):
    return a+b

In [18]:
addition(4,5)

9

In [19]:
addition = lambda a,b:a+b

In [20]:
addition(4,5)

9

# Map Function

In [21]:
def even_or_odd(num):
    if num%2==0:
        return "The number {} is Even".format(num)
    else:
        return "The number {} is Odd".format(num)

In [22]:
even_or_odd(17)

'The number 17 is Odd'

In [23]:
lst = [1,2,3,4,5,6,7,8,9,10]

In [24]:
list(map(even_or_odd, lst))

['The number 1 is Odd',
 'The number 2 is Even',
 'The number 3 is Odd',
 'The number 4 is Even',
 'The number 5 is Odd',
 'The number 6 is Even',
 'The number 7 is Odd',
 'The number 8 is Even',
 'The number 9 is Odd',
 'The number 10 is Even']

# Filter Function

In [25]:
def even(num):
    if num%2==0:
        return True

In [26]:
lst = [1,2,3,4,5,6,7,8,9,10]

In [27]:
list(filter(even,lst))

[2, 4, 6, 8, 10]

In [28]:
list(filter(lambda num: num%2==0, lst))

[2, 4, 6, 8, 10]

# List Comprehension

In [29]:
lst1 = []

def lst_square(lst):
    for i in lst:
        lst1.append(i*i)
    return lst1

In [30]:
lst_square([1,2,3,4,5,6,7])

[1, 4, 9, 16, 25, 36, 49]

In [31]:
lst= [1,2,3,4,5,6]

In [33]:
lst1 = [i*i for i in lst]

In [34]:
print(lst1)

[1, 4, 9, 16, 25, 36]

In [35]:
lst2 = [ i*i for i in lst if i%2 == 0]

In [36]:
lst2

[4, 16, 36]

# String Formatting

In [37]:
def greeting(name):
    return "Hello {}.Welcome to Data Science".format(name)

In [38]:
greeting("Jay")

'Hello Jay.Welcome to Data Science'

In [41]:
def welcome_email(name, age):
    return "Welcome {name}. Your age is {age}".format(age=age, name=name)

In [42]:
welcome_email('Jay', '24')

'Welcome Jay. Your age is 24'

# Iterables vs Iterators

In [43]:
# List is Iterable

lst = [1,2,3,4,5,6,7]

for i in lst:
    print(i)

1
2
3
4
5
6
7

In [44]:
lst1 = iter(lst)

In [45]:
lst1

In [48]:
next(lst1)

3

# OOPS Tutorial

In [58]:
class Car:
    def __init__(self, window, door, enginetype):
        self.windows = window
        self.doors = door
        self.enginetype = enginetype = enginetype
    def self_driving(self):
        return "This is a {} car".format(self.enginetype)

In [51]:
car1 = Car(4,5,"petrol")

In [52]:
car1.self_driving()

'This is a petrol car'

In [54]:
car2 = Car(3,4,"diesel")

In [62]:
print(car1.window)

4

In [57]:
print(car2.doors)

4