# Pandas Function

Pandas is an open source library that provides high-performance, easy-to-use data structures and data analysis tools for Python programming language.

In [1]:
# Importing libraries

import pandas as pd
import numpy as np

In [2]:
# Exploring with Dataframe

df = pd.DataFrame(np.arange(0,20).reshape(5,4), index = ['Row1', 'Row2', 'Row3', 'Row4', 'Row5'], columns = ['Column1', 'Column2', 'Column3', 'Column4'])

In [3]:
df

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [4]:
# Converting into csv files

df.to_csv('Test1.csv')

In [5]:
## Accessing the elements. There are 2 ways for it
## 1. .loc - location
## 2. .iloc - index location

df.loc['Row1']

Column1    0
Column2    1
Column3    2
Column4    3
Name: Row1, dtype: int32

In [6]:
type(df.loc['Row1'])

pandas.core.series.Series

In [7]:
df.iloc[:,:]

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [8]:
df.iloc[0:3,0:2]

      Column1  Column2
Row1        0        1
Row2        4        5
Row3        8        9

In [9]:
type(df.iloc[0:3,0:2])

pandas.core.frame.DataFrame

*More than 1 column will make the type as a "Data Frame".*

In [10]:
# Convert Dataframes into array

df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [11]:
# To check the null values in Dataframe

df.isnull().sum()

Column1    0
Column2    0
Column3    0
Column4    0
dtype: int64

In [12]:
# To check number of value counts - Mostly use for categorical features

df['Column1'].value_counts()

12    1
4     1
16    1
8     1
0     1
Name: Column1, dtype: int64

In [13]:
# To check the unique values in Dataframe

df['Column1'].unique()

array([ 0,  4,  8, 12, 16])