# Python Data Structures and Boolean

* Boolean
* Boolean and Logical Operators
* Lists
* Comparison Operators
* Dictionaries
* Tuples
* Sets

# Boolean Variables

Boolian values are the two constant objects False and True.    

They are use to represent truth values(other values can also be considerd false or true).

In numeric contexts(for example, when used as the argument to an alrithmetic operator), they behave like the integers 0 and 1, respectively.    

The built-in function bool() can be used to cast any value to a Boolean, if the value can be interpreted as a truth value    

They are written as False and True, respectuvely.

In [2]:
print(True, False)

True False

In [3]:
type(True)

bool

In [4]:
type(False)

bool

In [5]:
my_str = "Jayrajsinh Sisodiya"

In [7]:
print(my_str.isalnum()) # check if all char are numbers
print(my_str.isalpha()) # check if all char in the string are alphabetic
print(my_str.isdigit()) # test is string contains digits
print(my_str.istitle()) # test if string contains title words
print(my_str.isupper()) # test if string contains upper case
print(my_str.islower()) # test if string contains lower case
print(my_str.isspace()) # test if string contains spaces
print(my_str.endswith('a')) # test if string ends with a
print(my_str.startswith('A')) # test if string startwith H

False
False
False
True
False
False
False
True
False

# Boolean and Logical Operators

In [9]:
True and True

True

In [10]:
True and False

False

In [11]:
True or False

True

In [12]:
True or True

True

In [13]:
str_example = 'Hello World'
my_str = 'Jayrajsinh Sisodiya'

In [15]:
my_str.isalpha() or str_example.isalpha()

False

# Lists

A list is a data struture is python that is mutable, changeble, ordered sequence of elements. Each elements or value that is inside of a list is called item. Same as strings: list has value between square brackets [ ]

In [16]:
type([])

list

In [17]:
lst_example = []

In [18]:
type(lst_example)

list

In [19]:
lst = list()

In [20]:
type(lst)

list

In [21]:
lst = ['Mathematics', 'chemistry', 100, 200, 300, 400]

In [23]:
len(lst)

6

In [22]:
type(lst)

list

# Append

In [24]:
# .append is used to add elemnts in the list

lst.append('Jayrajsinh')

In [25]:
lst

['Mathematics', 'chemistry', 100, 200, 300, 400, 'Jayrajsinh']

In [26]:
## Indexing in list

lst[5]

400

In [27]:
lst[1:]

['chemistry', 100, 200, 300, 400, 'Jayrajsinh']

In [28]:
# Adding Nested List to the original list

lst.append(["JAY", 'SIS'])

In [29]:
lst

['Mathematics', 'chemistry', 100, 200, 300, 400, 'Jayrajsinh', ['JAY', 'SIS']]

# Insert

In [31]:
# insert in a specific order

lst.insert(2, 'Sisodiya')

lst

['Mathematics',
 'chemistry',
 'Sisodiya',
 'Sisodiya',
 100,
 200,
 300,
 400,
 'Jayrajsinh',
 ['JAY', 'SIS']]

# Extend

In [32]:
# Entering multiple values in the list without getting nested

lst = [1,2,3,4,5,6]

In [33]:
lst.extend([7,8])

In [34]:
lst

[1, 2, 3, 4, 5, 6, 7, 8]

# Various Operations that we can perform in List

In [35]:
lst = [1,2,3,4,5]

In [36]:
# Summing up all the elements in the list
sum(lst)

15

In [37]:
# Pop() Method : Remove the element from the list

lst.pop()

5

In [38]:
lst

[1, 2, 3, 4]

In [39]:
# Removing the 1st element

lst.pop(0)

1

In [40]:
lst

[2, 3, 4]

In [41]:
# count(): Calculates total occurence of given element of List

lst = [1,1,2,3,4,5]
lst.count(1)

2

In [42]:
# length: Calculates total length of List

len(lst)

6

In [43]:
# min: to find the minimum in the list

min(lst)

1

In [44]:
# max: to find the maximun in the list

max(lst)

5

# SETS

A set is an unordered collection data type that is iterable, mutable and has no duplicate elements. Python's set class represents the mathematical notion of a set. This is based on a data structure known as a hastable.

In [45]:
# Definining an empty set

set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [46]:
set_var = {1,2,3,4,4}

In [47]:
set_var

{1, 2, 3, 4}

In [48]:
set_var = { "Avengers", "IronMan", "Hitman"}
print(set_var)
type(set_var)

{'Hitman', 'IronMan', 'Avengers'}

set

*Set function does not allown indexing*

In [49]:
# Inbuilt function in sets

set_var.add("Hulk")

In [50]:
set_var

{'Avengers', 'Hitman', 'Hulk', 'IronMan'}

In [51]:
set1= {"Avengers", "IronMan", "Hitman"}
set2 = {'Avengers', 'Hitman', 'Hulk', 'IronMan'}

In [52]:
# Difference

set2.difference(set1)

{'Hulk'}

In [53]:
# Difference Update

set2.difference_update(set1)

In [54]:
print(set2)

{'Hulk'}

# Dictionary

A dictionary is a collection which is unordered, changeable and indexed. In python dictionaries are written by curly brackets, and they have keys and values.

In [55]:
dic = {}

In [56]:
type(dic)

dict

In [57]:
## Let's create a dictionary

my_dict = {"Car1": "Audi", "Car2": "BMW", "Car3": "Mercedez Benz"}

In [58]:
type(my_dict)

dict

In [59]:
## Access the item values based on keys

my_dict['Car1']

'Audi'

In [61]:
# We can even loop throught the dictionary keys

for x in my_dict:
    print(x)

Car1
Car2
Car3

In [62]:
# We can even loop throught the dictionary values

for x in my_dict.values():
    print(x)

Audi
BMW
Mercedez Benz

In [63]:
# We can also loop throught both keys & values

for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercedez Benz')

In [64]:
# Adding items in Dictionaries

my_dict['car4'] = 'Porsche'

In [65]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercedez Benz', 'car4': 'Porsche'}

In [66]:
# Replacing the key value 

my_dict['Car1'] = 'Maruti'

In [67]:
my_dict

{'Car1': 'Maruti', 'Car2': 'BMW', 'Car3': 'Mercedez Benz', 'car4': 'Porsche'}

# Nested Dictionary

In [79]:
car1_Model = {'Mercedes': 1960}
car2_Model = {'Audi': 1970}
car3_Model = {'BMW': 1980}

car_type = {'car1': car1_Model, 'car2':car2_Model, 'car3':car3_Model}

In [80]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'BMW': 1980}}

In [81]:
print(car_type['car1'])

{'Mercedes': 1960}

In [82]:
print(car_type['car1']['Mercedes'])

1960

# Tuples

Once it is defined, it can't be changed. You can completely change the list, but you can not modify the items in the list.

In [83]:
## Create an empty Tuples

my_tuple = tuple()

In [84]:
type(my_tuple)

tuple

In [85]:
my_tuple = ("MUSK", "RONALDO", "KOHLI")

In [86]:
my_tuple[0]

'MUSK'

In [87]:
## Inbuilt function

my_tuple.count('MUSK')

1

In [88]:
my_tuple.index('KOHLI')

2